<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Esri Sample Server List by davidpiesse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"
          media="screen">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">ESRI Sample Servers</h1>
    <h2 class="project-tagline">A list of ESRI sample servers and associated services</h2>
    <a href="https://github.com/davidpiesse/esri-sample-servers" class="btn">View on GitHub</a>
    <a href="https://github.com/davidpiesse/esri-sample-servers/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/davidpiesse/esri-sample-servers/tarball/master" class="btn">Download .tar.gz</a>
</section>

<section class="main-content">
    <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
                aria-hidden="true" class="octicon octicon-link"></span></a>ESRI Sample Server Explorer</h3>

    <p>
        Below is a tree view with dynamic loading of information for services
    </p>
    <div id="app">
        <!--{{message}}-->
        <div v-for="server in servers">
            <!--{{server.url}}-->
        </div>

        <ul id="server_list">
            <li v-for="server in servers">
                <a href="{{server.url}}">{{server.url}}</a>
                <ul>
                    <!--<li>{{server | json}}</li>-->
                    <li v-if="server.currentVersion">Current Version : {{server.currentVersion}}</li>
                    <li v-if="server.folders.length > 0">
                        Folders
                        <ul v-for="folder in server.folders">
                            <li><a href="{{folder.url}}">{{folder.name}}</a></li>
                            <!--<ul>-->
                            <!--<li>child services</li>-->
                            <!--</ul>-->
                        </ul>
                    </li>
                    <li v-if="server.services.length > 0">
                        Services
                        <ul v-for="service in server.services">
                            <li><a href="{{service.url}}">{{service.name}}</a>
                                <small>({{service.type}})</small>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!--<ul id="demo">-->
        <!--<item-->
        <!--class="item"-->
        <!--:model="servers">-->
        <!--</item>-->
        <!--</ul>-->

    </div>

    <h3>
        <a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span
                aria-hidden="true" class="octicon octicon-link"></span></a>Authors and Contributors</h3>

    <p>
        <a href="https://github.com/davidpiesse" class="user-mention">@davidpiesse</a>
    </p>
    <h3>
        <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true">
            <span aria-hidden="true" class="octicon octicon-link"></span></a>Support or Contact</h3>
    <p>
        Need help!? I am on Twitter <a href="https://twitter.com/mapdev">@mapdev</a>
    </p>
    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/davidpiesse/esri-sample-servers">Esri Sample Server
            List</a> is maintained by <a href="https://github.com/davidpiesse">davidpiesse</a>.</span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a
                href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a
                href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer>
</section>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/async/1.5.2/async.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.24/vue.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.2/vue-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<!--<script src="data/servers.json"></script>-->
<script>
    //do all stuff vue etc.
    //setup the page

    function setup() {
        var vue = new Vue({
            el: '#app',
            ready: function () {
                this.getServerList();
            },
            data: {
                message: 'Hello Vue.js!',
                servers: []
//                treeData: data
            },
            methods: {
                getServerList: function () {
                    this.$http({url: 'data/servers.json', method: 'GET'})
                            .then(function (response) {
                                this.servers = response.data;
                                this.iterateServerList();
                            }, function (response) {
                                swal('Error getting server list', "Couldn't retrieve the list of URL's", 'error');
                            });
                },
                iterateServerList: function () {
                    for (var i = 0; i < this.servers.length; i++) {
                        this.getServerInfo(this.servers[i]);
                    }
                },
                getServerInfo: function (server) {
                    this.$http.jsonp(server.url + '?f=json', {}, function (data) {

                        //get a load of other info before reassinging back to vue
                        var new_obj = Object.assign({}, server, data);
                        for (var i = 0; i < new_obj.folders.length; i++) {
                            //also get child services

                            new_obj.folders[i] = {
                                'name': new_obj.folders[i],
                                'url': new_obj.url + '/' + new_obj.folders[i],
                            };
                        }
                        //root services
                        for (var j = 0; j < new_obj.services.length; j++) {
                            new_obj.services[j] = Object.assign({}, new_obj.services[j],
                                    {'url': new_obj.url + '/' + new_obj.services[j].name + '/'
                                    + new_obj.services[j].type});
                        }
                        this.servers.$set(this.servers.indexOf(server), new_obj);
                    }, {
                        'jsonp': 'callback'
                    });
                },
//                getServiceInfo: function (service) {
//                    //get a service info and update the object
//                    this.$http.jsonp(service.url + '?f=json', {}, function (data) {
////                        console.log(data);
//                        service = Object.assign(service, data);
//                    }, {
//                        'jsonp': 'callback'
//                    });
//
//                },
                getFolderServices: function (folder) {

                }
            }
        })
    }

    setup();
</script>
</body>
</html>
